# Created by .ignore support plugin (hsz.mobi)
/.idea
/out
/target
/SSMPOM.iml
/SSM01JavaWeb/SSM01JavaWeb.iml
/SSM01JavaWeb/target
/SSM02MyBatis/target
/SSM03MyBatis/target
/SSM04MyBatis/target
/SSM05MyBatis/target
SSM01JavaWeb/src/main/resources/
SSM01JavaWeb/src/test/
SSM02MyBatis/src/main/resources/
/.idea/vcs.xml
/SSM05MyBatis/SSM05MyBatis.iml
/SSM06MyBatis/SSM06MyBatis.iml
/SSM04MyBatis/SSM04MyBatis.iml
/SSM03MyBatis/SSM03MyBatis.iml
/SSM02MyBatis/SSM02MyBatis.iml
SSM03MyBatis/src/test/resources/
SSM04MyBatis/src/main/resources/
SSM05MyBatis/src/main/resources/
SSM06MyBatis/target/generated-sources/
SSM06MyBatis/target/generated-test-sources/
